<h1>The Astronauts</h1>
<h3>Average Astronaut Age: <%= @average_age %></h3>
<% @astronauts.each do |astronaut| %>
  <section id="astronaut-<%=astronaut.id%>">
    <p>Name: <%= astronaut.name %></p>
    <p>Age: <%= astronaut.age %></p>
    <p>Job: <%= astronaut.job %></p>
    <h4>Missions:</h4>
    <% astronaut.alphabetical_missions(astronaut).each do |mission| %>
      <p><%= mission.title %>
    <% end %>
    <h4>Total Time in Space: <%= astronaut.total_time_in_space(astronaut) %> days</h4>
  </section>
<% end %>
